In [1]:
import pyupbit
print(pyupbit.Upbit)

<class 'pyupbit.exchange_api.Upbit'>

In [3]:
df = pyupbit.get_ohlcv("KRW-ADA", count = 2000)
ff = pyupbit.get_ohlcv("KRW-ZIL", count = 2000)
gf = pyupbit.get_ohlcv("KRW-ATOM", count = 2000)
hf = pyupbit.get_ohlcv("KRW-ONG", count = 2000)
jf = pyupbit.get_ohlcv("KRW-STRAX", count = 2000)

In [4]:
from datetime import datetime,date

df1 = df.reset_index()
ff1 = ff.reset_index()
gf1 = gf.reset_index()
hf1 = hf.reset_index()
jf1 = jf.reset_index()

In [6]:
df1.rename(columns = {'index' : 'date'}, inplace = True) 
df1['date'] = pd.to_datetime(df1['date']).dt.normalize()
df2 = df1.set_index('date')
df2

ff1.rename(columns = {'index' : 'date'}, inplace = True) 
ff1['date'] = pd.to_datetime(ff1['date']).dt.normalize()
ff2 = ff1.set_index('date')
ff2

gf1.rename(columns = {'index' : 'date'}, inplace = True) 
gf1['date'] = pd.to_datetime(gf1['date']).dt.normalize()
gf2 = gf1.set_index('date')
gf2

hf1.rename(columns = {'index' : 'date'}, inplace = True) 
hf1['date'] = pd.to_datetime(hf1['date']).dt.normalize()
hf2 = hf1.set_index('date')
hf2

jf1.rename(columns = {'index' : 'date'}, inplace = True) 
jf1['date'] = pd.to_datetime(jf1['date']).dt.normalize()
jf2 = jf1.set_index('date')
jf2

              open    high     low   close        volume         value
date
2017-09-25  4500.0  4695.0  4390.0  4650.0  2.120000e-02  9.772300e+01
2017-09-26  4640.0  5070.0  4585.0  4870.0  5.160000e-02  2.482215e+02
2017-09-27  4970.0  5310.0  4840.0  5280.0  5.070000e-02  2.572105e+02
2017-09-28  5260.0  5550.0  5120.0  5230.0  4.980000e-02  2.650110e+02
2017-09-29  5220.0  5380.0  4900.0  4990.0  5.230000e-02  2.649875e+02
...            ...     ...     ...     ...           ...           ...
2021-05-29  3055.0  3595.0  2805.0  3060.0  7.297781e+06  2.289612e+10
2021-05-30  3065.0  3140.0  2720.0  2970.0  1.933566e+06  5.650520e+09
2021-05-31  2970.0  3110.0  2785.0  2955.0  2.263018e+06  6.636554e+09
2021-06-01  2955.0  3025.0  2850.0  2895.0  1.350160e+06  3.938121e+09
2021-06-02  2895.0  2935.0  2865.0  2900.0  1.860484e+05  5.383829e+08

[1344 rows x 6 columns]

In [8]:
import pandas as pd
df2.to_csv('../output/1_에이다.csv', encoding='utf-8')
ff2.to_csv('../output/2_질리카.csv', encoding='utf-8')
gf2.to_csv('../output/3_코스모스.csv', encoding='utf-8')
hf2.to_csv('../output/4_온톨로지가스.csv', encoding='utf-8')
jf2.to_csv('../output/5_스트라티스.csv', encoding='utf-8')